$font-header: "Prompt", sans-serif;
// "Sue Ellen Francisco", cursive;

.warp-header {
    top: 0;
    width: 100%;
    height: 95vh;

    background-image: url("../assets/cover.jpg");
    background-size: 100% 150vh, cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 1500px) {
        height: 80vh;
        background-size: 100% 100vh, cover;
    }

    @media (max-width: 1199.98px) {
        height: 50vh;
        background-size: cover;
    }

    @media (max-width: 575.98px) {
        height: 35vh;
        background-size: cover;
    }

    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: absolute;
        height: 5rem;
        margin-top: 6rem;
        padding: 5rem;

        font-family: $font-header;
        h1 {
            font-size: 3rem;
            margin-bottom: 0;
            font-family: $font-header;
        }

        h2 {
            margin-bottom: 0.5rem;
        }
    }
}
