.warp-header {
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 80vh;

    background-image: url("../assets/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
}
