$font-header: "Prompt", sans-serif;
// "Sue Ellen Francisco", cursive;

.warp-header {
    top: 0;
    width: 100%;
    height: 95vh;
    position: absolute;
    background-image: url("../assets/cover.jpg");
    background-size: 100% 150vh, cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 1500px) {
        height: 80vh;
        background-size: 100% 100vh, cover;
    }

    @media (max-width: 1199.98px) {
        height: 50vh;
        background-size: cover;
    }

    @media (max-width: 575.98px) {
        height: 35vh;
        background-size: cover;
    }

    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: absolute;
        margin-top: 6rem;
        padding: 2rem;

        font-family: $font-header;
        h1 {
            font-size: 3rem;
            margin-bottom: 0;
            font-family: $font-header;
        }

        h2 {
            margin-bottom: 0.5rem;
        }

        .ant-btn {
            height: 3rem;
            width: auto;
            border-radius: 2rem;
            font-size: 1rem;
            margin: 1rem;
            background-color: #7bdcb5;
            border: 1px solid #7bdcb5;
            h3 {
                color: white;
                margin-bottom: 0;
            }
        }
    }

    .header-photo {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        p {
            margin-right: 1rem;
        }
    }
}
