.warp-header {
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 80vh;

    background-image: url("../assets/cover.jpg");
    background-size: 100% 100vh, cover;
    // background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;

    @media (max-width: 1199.98px) {
        height: 50vh;
        background-size: cover;
    }

    @media (max-width: 991.98px) {
        height: 100vh;
        background-size: 100% 130vh, cover;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        height: 100vh;
        background-size: cover;
    }

    @media (max-width: 575.98px) {
        height: 35vh;
        background-size: cover;
    }
}
