$bg-color: transparent;

.warp-navbar {
    position: fixed;
    display: inline-block;
    width: 100%;
    z-index: 100;

    .ant-layout {
        background: $bg-color;

        .ant-layout-header {
            display: flex;
            padding: 0 5rem;
            align-items: center;
            justify-content: space-between;
            background-color: $bg-color;

            .logo{
                display: flex;
                align-items: center;
                img{

                    width: 2rem;
                    height: 2rem;
                    margin-right: 0.5rem;
                }
                h1{
                    margin: 0;
                }
            }

           
            .ant-menu {
                display: flex;
                border-right: none;
                background: $bg-color;
            }
        }
    }
}
