$color-bg: #1d1c21;
$font-color-primary: #49484f;
$font-color-seconary: white !important;

.warp-activitiy {
    width: 100%;
    padding: 1rem 0;

    .activitiy-title {
        h5 {
            color: $font-color-seconary;
            margin-bottom: 1rem;
        }
    }

    .activitiy-content {
        display: flex;
        width: 100%;
        margin-left: 2rem;

        .table {
            width: 50%;
            color: white;
        }
    }
}
