$color-bg: #1d1c21;
$font-color-primary: #49484f;
$font-color-seconary: white !important;

.warp-activitiy {
    width: 100%;
    padding: 1rem 0;

    .activitiy-title {
        h5 {
            color: $font-color-seconary;
            margin-bottom: 1rem;
        }
    }

    .activitiy-content {
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        .card {
            width: 30%;
            background-color: $color-bg;
            color: $font-color-primary;
            border-radius: 1rem;
            padding-top: 2rem;

            img{
                padding: 0 1rem;
            }

            .card-body {
            }
        }
    }
}
