@import "./navbar.scss";
@import "./header.scss";
@import "./discovery.scss";
@import "./activity.scss";
@import "./footer.scss";

body {
    background: #151418;
}

.warp-index {
    width: 100%;
    min-height: 100%;
    height: auto;

    .warp-index-content {
        min-height: 100%;
        height: auto;
        padding: 1rem 2rem;
    }
}

.warp-content {
    width: 100%;
}
