@import "./navbar.scss";
@import "./header.scss";
@import "./discovery.scss";

body {
    background: #151418;
}

.warp-index {
    width: 100%;

    .warp-index-content {
        padding: 1rem 2rem;
    }
}

.warp-content{
    width: 100%;
}