$color-bg: #1d1c21;
$font-color-primary: #49484f;
$font-color-seconary: white !important;
$box-shadow: 0 0 0 0.1rem rgba(130, 138, 145, 0.5);

.warp-discovery {
    width: 100%;
    padding: 3rem 0;

    .discovery-title {
        width: 98%;
        display: flex;
        justify-content: space-between;
        h5 {
            color: $font-color-seconary;
            margin-bottom: 1rem;
        }
        p {
            display: flex;
            align-items: center;
            cursor: pointer;
            color: $font-color-seconary;
            opacity: 0.5;
            svg {
                margin-left: 0.5rem;
            }
        }
        p:hover {
            opacity: 0.9;
        }
    }

    .discovery-content {
        display: flex;
        justify-content: space-evenly;

        .card {
            background-color: $color-bg;
            color: $font-color-primary;

            .card-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                p.card-text {
                    margin: 0;
                    user-select: none;
                    color: $font-color-primary;
                }

                .icon {
                    display: inline-block;
                    width: 2rem;
                    height: 2rem;
                    background-size: cover;
                }

                .icon-like {
                    background-image: url("../image/like.svg");
                }

                .icon-likeActive {
                    background-image: url("../image/likeActive.svg");
                }

                .icon-like:hover {
                    background-image: url("../image/likeActive.svg");
                }
            }
        }
    }
    .hvr-grow {
        display: inline-block;
        vertical-align: middle;
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        transition-duration: 0.3s;
        transition-property: transform;
    }

    .hvr-grow:hover {
        transform: scale(1.1);
        box-shadow: $box-shadow;
        color: $font-color-seconary;

        .card-footer {
            p.card-text {
                color: $font-color-seconary;
            }
        }
    }

    .discovery-footer {
        margin-top: 1.5rem;
        .pagination {
            display: flex;
            justify-content: flex-end;

            .page-item {
                .page-link {
                    color: $font-color-primary;
                    background-color: $color-bg;
                    border-color: $color-bg;
                }
                .page-link:hover,
                .page-link:focus {
                    color: $font-color-seconary;
                    box-shadow: $box-shadow;
                }
            }

            .page-item.active {
                .page-link {
                    color: $font-color-seconary;
                    box-shadow: $box-shadow;
                }
            }
        }
    }
}
