.warp-footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;

    .footer-title {
        margin: 1rem 0;
        p {
            color: white;
            margin-block-start: 0;
            margin-block-end: 0;
        }
    }
}
