.warp-header {
    display: flex;
    width: 100%;

    .header-left-content {
        width: 70%;
        .jumbotron {
            color: white;
            width: 100%;
            height: 70vh;
            border-radius: 0.5rem;
            background-color: transparent;
            background-image: url("../image/header.jpg");
            background-size: 100% 100%;
        }

        .header-search {
            width: 100%;
            display: flex;
            justify-content: space-between;
            input {
                width: 90%;
            }
            .btn {
                width: 5rem;
            }
        }
    }

    .header-right-content {
        width: 30%;
    }
}
