$color-primary: white;

.warp-header {
    display: flex;
    width: 100%;

    .header-left-content {
        width: 50%;
        user-select: none;

        .jumbotron {
            color: $color-primary;
            width: 100%;
            height: 65vh;
            border-radius: 0.5rem;
            background-color: transparent;
            background-image: url("../image/header6.jpg");
            background-size: 100% 100%;
            opacity: 0.9;
            margin-bottom: 1rem;

            .header-title {
                display: flex;
                align-items: flex-end;
                img {
                    margin-right: 1rem;
                    width: 2rem;
                    height: 2rem;
                }
                h6 {
                    font-family: "Prompt", sans-serif;
                    margin-bottom: 0;
                }
            }

            .lead {
                display: flex;
                align-items: flex-end;
            }
        }

        .header-search {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            input {
                width: 80%;
            }
            .btn {
                width: 5rem;
                border-radius: 2rem;
            }
            .btn:focus {
                box-shadow: none;
            }
        }
    }

    .header-right-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;

        .header-card {
            display: flex;
            justify-content: center;
            width: 100%;
            color: $color-primary;

            .card {
                display: flex;
                align-items: center;
                width: 25%;
                background-color: #1d1c21;
                border: 1px solid $color-primary;
                border-radius: 3rem;
                margin: 1rem;
                img {
                    margin: 1rem;
                    width: 5rem;
                    height: 5rem;
                }
                .card-title {
                    margin-top: 0 !important;
                    margin: 1rem;
                }
            }
        }
    }
}
