$color-primary: white;
$color-bg: #1d1c21;
$color-btn: #ff3200;

.warp-header {
    display: flex;
    width: 100%;

    .header-left-content {
        width: 50%;
        user-select: none;

        @media (max-width: 1280px) {
            width: 60%;
        }

        @media (max-width: 768px) {
            width: 100%;
        }

        .jumbotron {
            color: $color-primary;
            width: 100%;
            height: 65vh;
            border-radius: 0.5rem;
            background-color: transparent;
            background-image: url("../image/header6.jpg");
            background-size: 100% 100%;
            opacity: 0.9;
            margin-bottom: 1rem;

            @media (max-width: 576px) {
                padding: 1rem !important;
            }

            @media (max-width: 1366px) {
                height: 40vh;
            }

            @media (max-width: 1024px) {
                height: 35vh;
            }

            .header-title {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                @media (max-width: 576px) {
                    text-align: center;
                  }

                .header-title-date {
                    width: 100%;
                    display: flex;
                    align-items: flex-end;
                    margin-bottom: 1rem;

                    @media (max-width: 576px) {
                      justify-content: center;
                    }

                    img {
                        margin-right: 1rem;
                        width: 2rem;
                        height: 2rem;
                    }
                    h6 {
                        font-family: "Prompt", sans-serif;
                        margin-bottom: 0;
                    }
                }

                .header-title-content {
                    display: flex;
                    flex-direction: column;
                }

                .header-title-btn {
                    margin-top: 2rem;
                    .btn {
                        background-color: $color-btn;
                        border-radius: 1rem;
                        border-color: $color-btn;
                    }
                    @media (max-width: 576px) {
                        width: 100%;
                        margin-top: 0;
                    }
                }
            }

            .lead {
                display: flex;
                align-items: flex-end;
            }
        }

        .header-search {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            input[type="text"] {
                background: url("../image/search.svg");
                background-size: 1rem;
                padding-left: 2.5rem;
                background-repeat: no-repeat;
                background-position: 1rem;
                background-color: $color-bg;
            }
            .form-control {
                color: $color-primary;
                height: 3rem;
                background-color: $color-bg;
                border-color: $color-bg;
                border-radius: 1rem;
            }

            .form-control:focus {
                box-shadow: 0 0 0 0.1rem rgba(130, 138, 145, 0.5);
            }
        }
    }

    .header-right-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;

        @media (max-width: 1280px) {
            width: 40%;
        }

        @media (max-width: 1024px) {
            height: 40vh;
        }

        .list-group {
            width: 80%;
            .list-group-item {
                height: 5rem;
                border-radius: 1rem;
                margin-bottom: 1rem;
                color: $color-primary;
                background-color: $color-bg;

                .list-group-item-text {
                    font-size: 1rem;
                }
            }
        }
    }
}
