$color-primary: white;
$color-bg: #1d1c21;

.warp-header {
    display: flex;
    width: 100%;

    .header-left-content {
        width: 50%;
        user-select: none;

        .jumbotron {
            color: $color-primary;
            width: 100%;
            height: 65vh;
            border-radius: 0.5rem;
            background-color: transparent;
            background-image: url("../image/header6.jpg");
            background-size: 100% 100%;
            opacity: 0.9;
            margin-bottom: 1rem;

            .header-title {
                display: flex;
                align-items: flex-end;
                img {
                    margin-right: 1rem;
                    width: 2rem;
                    height: 2rem;
                }
                h6 {
                    font-family: "Prompt", sans-serif;
                    margin-bottom: 0;
                }
            }

            .lead {
                display: flex;
                align-items: flex-end;
            }
        }

        .header-search {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            input[type="text"] {
                background: url("../image/search.svg");
                background-size: 1rem;
                padding-left: 2.5rem;
                background-repeat: no-repeat;
                background-position: 1rem;
                background-color: $color-bg;
            }
            .form-control {
                color: $color-primary;
                height: 3rem;
                background-color: $color-bg;
                border-color: $color-bg;
                border-radius: 1rem;
            }

            .form-control:focus {
                box-shadow: 0 0 0 0.1rem rgba(130, 138, 145, 0.5);
            }
        }
    }

    .header-right-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;

        .media {
            color: $color-primary;
            .media-left {
                img {
                    width: 5rem;
                    height: 5rem;
                    margin: 0 1rem;
                }
            }
        }
    }
}
