.warp-header {
    display: flex;
    margin: 1rem 2rem;
    width: 100%;

    .header-content {
        .jumbotron {
            color: white;
            width: 70%;
            height: 70vh;
            border-radius: 1rem;
            border: 1px solid white;
            background-color: transparent;
            background-image: url("../image/header6.jpg");
            background-size: 100% 100%;
        }
    }
}
