.warp-header {
    display: flex;
    width: 100%;

    .header-left-content {
        width: 50%;
        user-select: none;
        .jumbotron {
            color: white;
            width: 100%;
            height: 65vh;
            border-radius: 0.5rem;
            background-color: transparent;
            background-image: url("../image/header2.jpg");
            background-size: 100% 100%;
            opacity: 0.9;

            .header-title {
                display: flex;
                align-items: flex-end;
                img {
                    margin-right: 1rem;
                    width: 2rem;
                    height: 2rem;
                }
                h6 {
                    font-family: "Prompt", sans-serif;
                    margin-bottom: 0;
                }
            }

            .lead {
                display: flex;
                align-items: flex-end;
            }
        }

        .header-search {
            width: 100%;
            display: flex;
            justify-content: space-between;
            input {
                width: 85%;
            }
            .btn {
                width: 5rem;
                background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
            }
        }
    }

    .header-right-content {
        width: 30%;
    }
}
