.warp-navbar {
    width: 100%;

    .navbar-nav {
        .nav-link:hover {
            color: #8ed1fc;
        }

        .svg-inline--fa {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}
