.warp-navbar {
    width: 100%;

    img {
        cursor: pointer;
    }
    .hvr-rotate {
        display: inline-block;
        vertical-align: middle;
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        transition-duration: 0.3s;
        transition-property: transform;
    }
    .hvr-rotate:hover {
        transform: rotate(12deg);
    }
}
