$font-title: "DM Serif Text", serif;
$font-color: white;
//  rgba(0, 0, 0, 0.9);

.warp-navbar {
    width: 100%;

    .navbar {
        .navbar-brand {
            font-size: 1.5rem;
            color: $font-color;
            font-family: $font-title;
        }

        .navbar-nav {
            .nav-link {
                color: $font-color;
            }
            .nav-link:hover {
                color: $font-color;
            }

            .svg-inline--fa {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
}
